@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: halloween --default  ;
}

.space-font {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}